<div>
    <div class="container-fluid" style="padding-left: 5px;padding-right: 5px;">
        <div class="row no-gutters" style="margin-left: -6px;">
            <div class="col-md-6"><img src="<%= image_path('cover-transparent.png') %>" style="margin-left: 0;"></div>
            <div class="col-md-6 col-xl-6 offset-xl-0" style="margin: 0;margin-left: -24px;padding-top: 19px;">
                <h1 class="display-2">Welcome to my reality</h1>
                <p style="font-size: 24px;">Hi there, I'm William. There is a reason my identity on many online games is UltimateNerd. I love programming and gaming, but most of all I love exploring things, both old and new.From the moment I was born on August 13th, 2002, I
                    was encouraged by the ones around me to explore my opportunities and take full advantage of them.</p>
            </div>
        </div>
    </div>
</div>
